*.iml
.gradle
/local.properties
/.idea
/build
libs/
src/androidTest/
src/main/res/drawable/
/app/src/main/java/com/sillyv/garbagecan/data/credentials/CredentialsRepo.java
/app/src/main/java/com/sillyv/garbagecan/data/credentials/CredentialsManager.java
